@import 'tailwindcss';

@import '@fontsource-variable/inter';
@import '@fontsource-variable/fraunces/wght.css';

@import './theme.css';

@layer base {
  html,
  body {
    @apply overflow-hidden bg-transparent text-foreground antialiased;

    user-select: none;
    cursor: default;
  }
}

@keyframes step {
  from {
    opacity: 0;
    transform: translateX(var(--step-from));
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@utility step {
  --step-from: 10px;

  animation: step 0.2s cubic-bezier(0.4, 0, 0.2, 1) backwards;

  &[data-from='left'] {
    --step-from: -10px;
  }
}

@utility banner-pill {
  box-shadow: 0 3px 16px -3px oklch(0 0 0 / 0.75);
}
